# Preparation

In [1]:
import math
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
from trafficSimulator import *

def parallel_line(current_coordinates, distance):
    x1, y1 = current_coordinates[0]
    x2, y2 = current_coordinates[1]
    k = (y1-y2)/(x1-x2)
    b = y1 - k*x1
    
    cross_x = -b/k
    hypo = math.sqrt(b**2+cross_x**2)
    
    if k>0:
        new_coord_1 = ((x2+distance*abs(b)/hypo, y2-distance*abs(cross_x)/hypo),
                       (x1+distance*abs(b)/hypo, y1-distance*abs(cross_x)/hypo))

        new_coord_2 = ((x2-distance*abs(b)/hypo, y2+distance*abs(cross_x)/hypo),
                       (x1-distance*abs(b)/hypo, y1+distance*abs(cross_x)/hypo))
        
    else:
        new_coord_1 = ((x2+distance*abs(b)/hypo, y2+distance*abs(cross_x)/hypo),
                       (x1+distance*abs(b)/hypo, y1+distance*abs(cross_x)/hypo))
    
        new_coord_2 = ((x2-distance*abs(b)/hypo, y2-distance*abs(cross_x)/hypo),
                       (x1-distance*abs(b)/hypo, y1-distance*abs(cross_x)/hypo))
    
    return new_coord_1, new_coord_2

pygame 2.0.1 (SDL 2.0.14, Python 3.6.13)
Hello from the pygame community. https://www.pygame.org/contribute.html

# Simulation setup

In [85]:
left, right = -100*math.sqrt(3), 100*math.sqrt(3)
bottom, top = -100, 100

vehicle_rate = 45
v_max = 10
s0 = 5
T = 1.5
b_max = 3
a_max = 2

fast_track_factor, slow_track_factor = 1, 0.8
stop_distance = 50
wait_time = 2
vehicle_limit = 8

df = pd.DataFrame(columns=['Vehicle_label', 'Road_order', 
                           'Total_time', 'Leading_vehicles',
                           'Stopped_time', 'Stop_while_front'])

left_bottom_outbound = ((left+2, 4), (-5, top-2),
                        slow_track_factor, stop_distance, wait_time)
bottom_right_outbound = ((5, top-2), (right-2, 4),
                         fast_track_factor, stop_distance, wait_time)

left_top_outbound = ((left+2, -4), (-5, bottom+2),
                     fast_track_factor, stop_distance, wait_time)
top_right_outbound = ((5, bottom+2), (right-2, -4),
                      slow_track_factor, stop_distance, wait_time)

bottom_left_inbound = parallel_line(current_coordinates=left_bottom_outbound, 
                                    distance=2.5)[0]
right_bottom_inbound = parallel_line(current_coordinates=bottom_right_outbound, 
                                     distance=2.5)[1]

top_left_inbound = parallel_line(current_coordinates=left_top_outbound, 
                                 distance=2.5)[0]
right_top_inbound = parallel_line(current_coordinates=top_right_outbound, 
                                  distance=2.5)[1]

## For the connections of the topology, we can either represent with concrete lines
## or just as a dot (as shown below). Either case, the vehicles will not actually go 
## pass these routes; they are more for demonstration purposes

connection_top_bottom = ((-1.25, bottom+2), (-1.25, top-2))
connection_bottom_top = ((1.25, top-2), (1.25, bottom+2))

# Or just show a dot:

# connection_top_bottom = ((-1.25, -2), (-1.25, 2))
# connection_bottom_top = ((1.25, 2), (1.25, -2))

# Create and run simulation

In [86]:
 def run_simulation(all_routes, vehicle_limit, df, vehicle_preferences,
                   vehicle_rate, vehicle_specs):
    global left_bottom_outbound
    global bottom_right_outbound
    global left_top_outbound
    global top_right_outbound
    global connection_top_bottom
    global connection_bottom_top
    global bottom_left_inbound
    global right_bottom_inbound
    global top_left_inbound
    global right_top_inbound
    
    records = df.copy()
    sim = Simulation({
        'all_routes': all_routes, # All possible (and reasonable) routes
        'vehicle_limit': vehicle_limit, # Total number of vehicles in simulation
        'records': records, # Table that will capture the needed vehicle-related info
        'vehicle_preferences': vehicle_preferences
        # A dictionary that stores the vehicles' labels are keys and their list of probabilities
        # of choosing each possible route as values
        # For the initial few rounds all vehicles choose all routes with equal weights.
        # For more complicated topologies some other algorithms will be needed as all possible
        # routes are not as explicit as in here.
        })

    sim.create_roads([
        ## Key routes
        left_bottom_outbound, # Road #0
        bottom_right_outbound, # Road #1

        left_top_outbound, # Road #2
        top_right_outbound, # Road #3

        connection_top_bottom, # Road #4
        connection_bottom_top, # Road #5

        bottom_left_inbound, # Road #6
        right_bottom_inbound, # Road #7

        top_left_inbound, # Road #8
        right_top_inbound, # Road #9

        ## Curved corners
        # Note: in the simulation, the vehicles will not actually go pass these
        # routes; they are more for aesthetic purposes

        # Outbound corners
        *curve_road(left_bottom_outbound[1], 
                    (bottom_right_outbound[0][0], bottom_right_outbound[0][1]+0.01), 
                    (0, top), 16), # Outbound bottom corner; Roads #10-#25

        *curve_road(left_top_outbound[1], 
                    (top_right_outbound[0][0], top_right_outbound[0][1]+0.01), 
                    (0, bottom), 16), # Outbound top corner; Roads #26-#41

        *curve_road(left_bottom_outbound[0], 
                    (left_top_outbound[0][0]+0.01, left_top_outbound[0][1]), 
                    (left, 0), 16), # Outbound left corner; Roads #42-#57

        *curve_road(bottom_right_outbound[1], 
                    (top_right_outbound[1][0]+0.01, top_right_outbound[1][1]), 
                    (right, 0), 16), # Outbound right corner; Roads #58-#73

        # Inbound corners
        *curve_road(right_bottom_inbound[1], 
                    (bottom_left_inbound[0][0], bottom_left_inbound[0][1]+0.01), 
                    (0, top), 16), # Inbound bottom corner; Roads #74-#89

        *curve_road(right_top_inbound[1], 
                    (top_left_inbound[0][0], top_left_inbound[0][1]+0.01), 
                    (0, bottom), 16), # Inbound top corner; Roads #90-#105

        *curve_road(bottom_left_inbound[1], 
                    (top_left_inbound[1][0]+0.01, top_left_inbound[1][1]), 
                    (left+2.5, 0), 16), # Inbound left corner; Roads #106-#121

        *curve_road(right_bottom_inbound[0], 
                    (right_top_inbound[0][0]+0.01, right_top_inbound[0][1]), 
                    (right-2.5, 0), 16), # Inbound right corner; Roads #122-#137
    ])


    sim.create_gen({
        'vehicle_rate': vehicle_rate, # Rate of generating new vehicles
        'vehicle_limit': vehicle_limit, # Total number of vehicles in simulation
        'vehicles': vehicle_specs
        })


    # Start simulation
    win = Window(sim)
    win.zoom = 3
    new_records = win.run(steps_per_update=5)
    
    return new_records

In [87]:
all_routes = [[0, 3], [0, 1], [2, 3], [2, 1]]
vehicle_specs = {'v_max': v_max, # Desired speed
                 's0': s0, # Safe bumper-to-bumper distance
                 'T': T, # Time gap
                 'b_max': b_max, # Deceleartion
                 'a_max': a_max, # Acceleration
                }

In [88]:
vehicle_preferences = dict(zip(range(vehicle_limit), 
                               [[0.25, 0.25, 0.25, 0.25]]*vehicle_limit))

record_df1 = run_simulation(all_routes, vehicle_limit, df, vehicle_preferences,
                             vehicle_rate, vehicle_specs)

In [89]:
vehicle_preferences = dict(zip(range(vehicle_limit), 
                               [[0.25, 0.25, 0.25, 0.25]]*vehicle_limit))

record_df2 = run_simulation(all_routes, vehicle_limit, df, vehicle_preferences,
                             vehicle_rate, vehicle_specs)

# Simulation Analysis

In [91]:
record_df = pd.concat([record_df1, record_df2], ignore_index=True)
record_df

,Vehicle_label,Road_order,Total_time,Leading_vehicles,Stopped_time,Stop_while_front
0,6,"[0, 1]",37.68,"[-999, -999]","[0, 0]","[0, 0]"
1,1,"[2, 1]",42.5,"[-999, 6]","[0, 0]","[0, 0]"
2,5,"[2, 1]",47.32,"[1, 1]","[0, 0]","[0, 0]"
3,0,"[0, 3]",44.38,"[6, -999]","[0, 0]","[0, 0]"
4,7,"[2, 3]",54.48,"[5, 0]","[0, 0]","[0, 0]"
5,2,"[0, 1]",47.62,"[0, 5]","[0, 0]","[0, 0]"
6,3,"[2, 1]",53.58,"[7, 2]","[0, 0]","[0, 0]"
7,4,"[2, 1]",58.44,"[3, 3]","[0, 0]","[0, 0]"
8,1,"[2, 3]",43.5,"[-999, -999]","[0, 0]","[0, 0]"
9,7,"[2, 3]",49.02,"[1, 1]","[0, 0]","[0, 0]"
10,3,"[2, 1]",49.22,"[7, 2]","[0, 0]","[0, 0]"
11,2,"[0, 1]",37.68,"[-999, -999]","[0, 0]","[0, 0]"
12,6,"[2, 3]",58,"[3, 4]","[0, 0]","[0, 0]"
13,4,"[0, 3]",50.42,"[2, 7]","[0, 0]","[0, 0]"
14,5,"[0, 3]",60.22,"[4, 6]","[1.520000000000001, 0.02]","[1.520000000000001, 0]"
15,0,"[2, 3]",67.06,"[6, 5]","[1.580000000000001, 0]","[1.580000000000001, 0]"

In [37]:
record_df.head(5)

,Vehicle_label,Road_order,Total_time,Leading_vehicles,Stopped_time,Stop_while_front
0,7,"[0, 3]",43.5,"[-999, -999]","[0, 0]","[0, 0]"
1,14,"[2, 3]",48.18,"[-999, 7]","[0, 0]","[0, 0]"
2,18,"[0, 1]",39.64,"[7, -999]","[0, 0]","[0, 0]"
3,12,"[2, 3]",51.58,"[14, 14]","[0, 0]","[0, 0]"
4,1,"[2, 3]",62.38,"[12, 13]","[2.2000000000000015, 0]","[2.2000000000000015, 0]"

In [92]:
record_copy = record_df.copy()

## Generate gamma and eta values for the first round

In [7]:
gamma_mean, gamma_var = 1, 0.5
eta_mean, eta_var = 1, 0.5

## Set up dataframe

In [123]:
utility_tmp = record_df[['Vehicle_label', 'Road_order', 'Total_time']]

utility_tmp['Caused_delay'] = 0.0
utility_tmp.Total_time = pd.to_numeric(utility_tmp.Total_time)

utility_tmp = utility_tmp.sort_values('Vehicle_label', ascending=True).reset_index(drop=True)

for idx, row in record_df.iterrows():
    current_l = row['Vehicle_label']
    stop_times = row['Stopped_time']
    lead_v = row['Leading_vehicles']
    route = row['Road_order']
    
    for i in range(len(stop_times)):
        if stop_times[i] > 0:
            utility_tmp.at[lead_v[i], 'Caused_delay'] += stop_times[i]
    
    for r in all_routes:
        if route == r:
            utility_tmp.at[idx, 'Road_order'] = all_routes.index(r)
            
utility_tmp.head(5)

  Vehicle_label Road_order  Total_time  Caused_delay
0             0          1       44.38          0.00
1             0          3       67.06          0.00
2             1          3       42.50          0.00
3             1          0       43.50          0.00
4             2          2       47.62          1.52

In [124]:
# pd.pivot_table(utility_tmp, 
#                index=['Vehicle_label', 'Road_order'], 
#                values='Caused_delay', 
#                aggfunc='count')

In [125]:
utility_tmp['Count'] = 1
utility_tmp = pd.pivot_table(utility_tmp, 
               index=['Vehicle_label', 'Road_order'], 
               values=['Total_time', 'Caused_delay', 'Count'], 
               aggfunc={'Total_time': np.mean,
                        'Caused_delay': np.mean,
                        'Count': 'count'}).reset_index(drop=False)

In [128]:
# utility_df = record_copy[['Vehicle_label', 'Road_order', 'Total_time']]
utility_df = pd.DataFrame(columns=['Vehicle_label', 'Utilities', 'Probabilities'])

utility_df['Vehicle_label'] = list(range(len(record_df.Vehicle_label.unique())))
utility_df['Utilities'] = [[0] * len(all_routes)] * len(utility_df)
# utility_df['Explored_times'] = [[0] * len(all_routes)] * len(utility_df)
utility_df['Probabilities'] = [[0] * len(all_routes)] * len(utility_df)

# utility_df['Gamma'] = np.random.normal(gamma_mean, gamma_var, len(utility_df))
# utility_df['Eta'] = np.random.normal(eta_mean, eta_var, len(utility_df))

etas = []
gammas = []

for i in range(len(utility_df)):
    eta = np.random.normal(eta_mean, eta_var, 1)[0]
    while eta < 0:
        eta = np.random.normal(eta_mean, eta_var, 1)[0]
    etas.append(eta)
    
for i in range(len(utility_df)):
    gamma = np.random.normal(gamma_mean, gamma_var, 1)[0]
    while gamma < 0:
        gamma = np.random.normal(gamma_mean, gamma_var, 1)[0]
    gammas.append(gamma)

utility_df['Gamma'] = gammas
utility_df['Eta'] = etas

# utility_df['Caused_delay'] = 0.0

utility_df = utility_df.sort_values('Vehicle_label', ascending=True).reset_index(drop=True)


# for idx, row in record_df.iterrows():
#     current_l = row['Vehicle_label']
#     stop_times = row['Stopped_time']
#     lead_v = row['Leading_vehicles']
#     route = row['Road_order']
    
#     for i in range(len(stop_times)):
#         if stop_times[i] > 0:
#             utility_df.at[lead_v[i], 'Caused_delay'] += stop_times[i]
    
#     for r in all_routes:
#         if route == r:
#             utility_df.at[idx, 'Road_order'] = all_routes.index(r)
            
utility_df.head(5)

   Vehicle_label     Utilities Probabilities     Gamma       Eta
0              0  [0, 0, 0, 0]  [0, 0, 0, 0]  1.494659  1.188750
1              1  [0, 0, 0, 0]  [0, 0, 0, 0]  1.024017  0.805514
2              2  [0, 0, 0, 0]  [0, 0, 0, 0]  0.198009  0.704467
3              3  [0, 0, 0, 0]  [0, 0, 0, 0]  1.622372  0.818534
4              4  [0, 0, 0, 0]  [0, 0, 0, 0]  0.837026  1.369994

In [129]:
# Smaller delta encourages more exploration
delta = 0.1
alpha = 5

def compute_utility(explored_times,
                    time=0, 
                    caused_delay=0, 
                    alpha=0, 
                    gamma=0, 
                    eta=0, 
                    delta=0.1):
    if explored_times > 0:
        # Interpolation between time and money
        u_time = -np.log(time)
        u_penalty = -np.log(caused_delay*alpha)

        if eta == 1:
            u_total = gamma * u_time + u_penalty
        else:
            u_total = (np.exp(1-eta)-1) / (1-eta)
    else:
        u_total = 0
        
    u_total += np.sqrt(2*np.log(1/delta)/explored_times)
    return u_total

In [131]:
a = [1, 2, 3]
sum(a)

6

In [132]:
def compute_probability(utility_list):
    prob_list = [np.exp(u) for u in utility_list]
    return [p/sum(prob_list) for p in prob_list]

In [130]:
display(utility_tmp.head(10))
display(utility_df.head(10))

   Vehicle_label  Road_order  Caused_delay  Count  Total_time
0              0           1          0.00      1       44.38
1              0           3          0.00      1       67.06
2              1           0          0.00      1       43.50
3              1           3          0.00      1       42.50
4              2           1          0.00      1       37.68
5              2           2          1.52      1       47.62
6              3           3          0.80      2       51.40
7              4           2          0.00      2       54.43
8              5           1          0.00      1       60.22
9              5           3          0.00      1       47.32

   Vehicle_label     Utilities Probabilities     Gamma       Eta
0              0  [0, 0, 0, 0]  [0, 0, 0, 0]  1.494659  1.188750
1              1  [0, 0, 0, 0]  [0, 0, 0, 0]  1.024017  0.805514
2              2  [0, 0, 0, 0]  [0, 0, 0, 0]  0.198009  0.704467
3              3  [0, 0, 0, 0]  [0, 0, 0, 0]  1.622372  0.818534
4              4  [0, 0, 0, 0]  [0, 0, 0, 0]  0.837026  1.369994
5              5  [0, 0, 0, 0]  [0, 0, 0, 0]  1.704245  0.667454
6              6  [0, 0, 0, 0]  [0, 0, 0, 0]  0.917188  0.870253
7              7  [0, 0, 0, 0]  [0, 0, 0, 0]  0.710586  0.778248

In [63]:
# pd.pivot_table(utility_df, 
#                index=['Vehicle_label', 'Road_order_label'], 
#                values='Gamma', 
#                aggfunc='count')

In [140]:
for idx, row in utility_df.iterrows():
    utility_l = row['Utilities']
    prob_l = row['Probabilities']
#     extime_l = row['Explored_times']
    gamma = row['Gamma']
    eta = row['Eta']
    
    for j in range(len(all_routes)):
        record = utility_tmp.loc[(utility_tmp.Vehicle_label==i) & (utility_tmp.Road_order==j)]
        if len(record) == 0:
            utility_l[j] = compute_utility(explored_times=0.5, delta=delta) # Exploration time is not integer here
                                                                            # because utility will be infinite if
                                                                            # it is 0 and it will cause problems in prob
                                                                            # calculation
        else:
            utility_l[j] = compute_utility(explored_times=record['Count'].values[0], 
                                           time=record['Total_time'].values[0], 
                                           caused_delay=record['Caused_delay'].values[0], 
                                           alpha=alpha, 
                                           gamma=gamma, 
                                           eta=eta, 
                                           delta=delta)
    
    prob_l = compute_probability(utility_l)
    
    utility_df.at[idx, 'Utilities'] = utility_l
    utility_df.at[idx, 'Probabilities'] = prob_l

In [141]:
utility_df

,Vehicle_label,Utilities,Probabilities,Gamma,Eta
0,0,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.07750225455671825, 0.4224977454432818, 0.07...",1.494659,1.188750
1,1,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.09096660470330571, 0.40903339529669425, 0.0...",1.024017,0.805514
2,2,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.09548615710387301, 0.40451384289612696, 0.0...",0.198009,0.704467
3,3,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.090418250703526, 0.409581749296474, 0.09041...",1.622372,0.818534
4,4,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.07268945248406904, 0.42731054751593095, 0.0...",0.837026,1.369994
5,5,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.09726610209514097, 0.4027338979048591, 0.09...",1.704245,0.667454
6,6,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.08831145039316717, 0.4116885496068329, 0.08...",0.917188,0.870253
7,7,"[3.2655131846772587, 4.753136087229338, 3.2655...","[0.09213939241990635, 0.4078606075800936, 0.09...",0.710586,0.778248

In [146]:
# Updated probabilities for the next round:
utility_df.Probabilities.to_list()

vehicle_preferences = dict(zip(range(vehicle_limit), 
                               [[0.25, 0.25, 0.25, 0.25]]*vehicle_limit))
vehicle_preferences

{0: [0.25, 0.25, 0.25, 0.25],
 1: [0.25, 0.25, 0.25, 0.25],
 2: [0.25, 0.25, 0.25, 0.25],
 3: [0.25, 0.25, 0.25, 0.25],
 4: [0.25, 0.25, 0.25, 0.25],
 5: [0.25, 0.25, 0.25, 0.25],
 6: [0.25, 0.25, 0.25, 0.25],
 7: [0.25, 0.25, 0.25, 0.25]}

In [147]:
dict(zip(range(vehicle_limit), utility_df.Probabilities.to_list()))

{0: [0.07750225455671825,
  0.4224977454432818,
  0.07750225455671825,
  0.4224977454432818],
 1: [0.09096660470330571,
  0.40903339529669425,
  0.09096660470330571,
  0.40903339529669425],
 2: [0.09548615710387301,
  0.40451384289612696,
  0.09548615710387301,
  0.40451384289612696],
 3: [0.090418250703526,
  0.409581749296474,
  0.090418250703526,
  0.409581749296474],
 4: [0.07268945248406904,
  0.42731054751593095,
  0.07268945248406904,
  0.42731054751593095],
 5: [0.09726610209514097,
  0.4027338979048591,
  0.09726610209514097,
  0.4027338979048591],
 6: [0.08831145039316717,
  0.4116885496068329,
  0.08831145039316717,
  0.4116885496068329],
 7: [0.09213939241990635,
  0.4078606075800936,
  0.09213939241990635,
  0.4078606075800936]}